[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathspec = "*"
django-dotenv = "*"
django-countries = "*"
pillow = "*"
django-seed = "*"
requests = "*"
django-storages = "*"
django = "==2.2.5"
pipenv-to-requirements = "*"
psycopg2 = "*"

[dev-packages]
awsebcli = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
