{% extends "base.html" %}


{% block page_title %}
    Welcome to Songbnb
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto w-11/12 pb-10">
        
        <div class="rounded-xl bg-gray-800 h-50vh mt-32 mb-24 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=708&q=80)">
        <div class="flexbox font-bold h-4/5 w-full text-white text-center mx-auto justify-items-center grid items-center text-5xl">Welcome to Songbnb! Enjoy Your Trip.</div>
        </div>
        <div class="flex flex-wrap mb-16">
            {% for room in rooms %}
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>   

        <div class="flex items-center justify-center mx-auto container">
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">
                <i class="fas fa-arrow-left text-green-500"></i>
            </a>
        {% endif %}    

        <span class="mx-3 font-medium text-lg">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">
                <i class="fas fa-arrow-right text-green-500"></i>
            </a>    
        {% endif %}
        </div>
        

        </div>
      
    </div>
    
{% endblock content %}
    
